.movieListMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}


/* Below are the styling and animations for the movie list header tag */
.movieListMain h2 {
    font-family: neon;
    color: #426DFB;
    font-size: 7vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
    -o-animation: flux 2s linear infinite;
    animation: flux 2s linear infinite;
}

@keyframes flux {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

.movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movieListMain h2 {
    margin: 10px;
}

.movies div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 12px 12px 9px -2px rgba(0, 0, 0, 0.76);
}

/* on hover of a movie it causes it shift up on the page and change background-color */
.movies div:hover {
    background-color: rgb(188, 215, 254);
    margin: 10px 20px 30px 20px;
}

.addMovieButton {
    position: fixed;
    font-weight: bold;
    bottom: 0;
    right: 0;
    width: 200px;
    margin: 0px 10px 20px 0px;
}