.headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #02003b;
    background-image: url("https://transparenttextures.com/patterns/black-felt.png");
    text-align: center;
    width: 85%;
    height: auto;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
}

/* below are the animations for the two spans in the header */

.headerDiv b {
    font: 400 14vh "Vibur";
    color: #fee;
    text-shadow: 
        0 -40px 100px, 
        0 0 2px, 0 0 1em #ff4444, 
        0 0 0.5em #ff4444, 
        0 0 0.1em #ff4444, 
        0 10px 3px #000;
}

.headerDiv b span {
    animation: blink linear infinite 2s;
}

.headerDiv b span:nth-of-type(2) {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}